<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>何かが違った....</h1>
        <h2>Zero Trust Application Access</h2>
      </hgroup>
      <a
        href="/auth/logout"
        role="button"
        style="--background-color: #ffffff; --border-color: #ffffff; width: 100%;"
        >→ Sign in with: Discord OAuth2</a
      >
    </div>
  </article>
</main>
