<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>Log in</h1>
        <h2>Zero Trust Application Access</h2>
      </hgroup>
      <a
        href="/auth/discord"
        role="button"
        style="--background-color: #5865f2; --border-color: #5865f2; width: 100%;"
        >→ Sign in with: Discord OAuth2</a
      >
    </div>
  </article>
</main>
