<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>hello!!</h1>
        <h2>Zero Trust Application Access</h2>
      </hgroup>
      <a class="secondary" style="width: 100%" role="button" href="/auth/logout"
        >→ Logout</a
      >
    </div>
  </article>
</main>
